<div style="background-color: #e6e6fa;">
<div class="container-fluid">
            <div class="row align-items-center">
              <div class="col">
                <p class="fs-1" style="color: #59359a;">Ensemble. Luttons</p>
                <p class="fs-5 ">
                    La maladie à coronavirus (COVID19) est une maladie infectieuse
                    due au virus SARS-CoV-2. La plupart des personnes infectées par le virus
                    présentent une maladie respiratoire d'intensité légère à modérée et se rétablissent
                    sans avoir besoin d'un traitement particulier.
                </p>
                <button type="button" class="btn text-light btn-lg" style="background-color: #59359a;">Comment se protéger</button>

              </div>
              <div class="col">
                <img src="assets/people.png" class="w-50" style="background-color: #e6e6fa;">
              </div>
            </div>
            </div>
            <p class="text-center fs-1" style="color: #59359a;"> Symptomes du Coronavirus</p>
            <p class="text-center fs-6"> Chez certaines personnes, l'infection se traduit par un mal de gorge, une rhinopharyngite, un état fébrile, des courbatures et une fatigue. Chez d'autres, la maladie passe pratiquement inaperçue. Ces personnes sont cependant contagieuses.</p>
            <div class="container-fluid column-gap-3">
                <div class="row column-gap-3 p-2">
                  <div class="col bg-white p-2 g-col-6">
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/fever.png" class="w-50">
                        </div>
                        <div class="col-8">
                            <p class="fs-5" style="color: #59359a;"> Forte fièvre</p>
                            <p class="fs-6">Chez certaines personnes, l'infection se traduit par un mal de gorge, une rhinopharyngite, un état fébrile, des courbatures et une fatigue. </p>
                        </div>
                      </div>
                  </div>
                  <div class="col bg-white p-2 g-col-6">
                    <div class="row ">
                        <div class="col-4">
                            <img src="assets/cough.png" class="w-50">
                        </div>
                        <div class="col-8">
                            <p class="fs-5" style="color: #59359a;"> Toux </p>
                            <p class="fs-6">Chez certaines personnes, l'infection se traduit par un mal de gorge, une rhinopharyngite, un état fébrile, des courbatures et une fatigue. </p>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>

                  <div class="container-fluid column-gap-3">
                <div class="row column-gap-3 p-2">
                  <div class="col bg-white p-2 g-col-6">
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/troath.png" class="w-50">
                        </div>
                        <div class="col-8">
                            <p class="fs-5" style="color: #59359a;"> George irritée</p>
                            <p class="fs-6">Chez certaines personnes, l'infection se traduit par un mal de gorge, une rhinopharyngite, un état fébrile, des courbatures et une fatigue. </p>
                        </div>
                      </div>
                  </div>
                  <div class="col bg-white p-2 g-col-6">
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/headache.png" class="w-50">
                        </div>
                        <div class="col-8">
                            <p class="fs-5" style="color: #59359a;"> Migraine </p>
                            <p class="fs-6">Chez certaines personnes, l'infection se traduit par un mal de gorge, une rhinopharyngite, un état fébrile, des courbatures et une fatigue. </p>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
            </div>
